extends baseEmail

block content
  p Hi #{firstName},
  p Having trouble when logging in? Click the button below to reset your password.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  form(action=`${url}` method = 'GET') 
                    input(type="submit", value="Reset Your Password")
  p If you didn't forget your password, please ignore this email!
