{{> menu}}
<div class="d-flex justify-content-center align-items-center text-light p-5 bg-danger">
    <div class="column">
        <h3><p class="bi bi-exclamation-triangle-fill">{{alert}}</p></h3>
        <button class="btn btn-warning" onclick="history.back()">Go Back <<<</button>
    </div>
</div>