  <form action ="" method="post" id="myform">
    <div class="vh-100 gradient-custom">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
    
                  <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                  <div class="form-floating" class="input-group form-outline form-white mb-4">
                    <input class="form-control" placeholder="password" id="password" name="password"></input>
                    <label for="floatingTextarea">Password</label>
                  </div>
                  <div class="form-floating" class="input-group form-outline form-white mb-4">
                    <input class="form-control form-control-lg" placeholder="PasswordConfirm" id="passwordConfirm" name="passwordConfirm"></input>
                    <label for="floatingTextarea">Confirm Password</label>
                  </div>
                  <button id="btn-submit" class="btn btn-outline-light btn-lg px-5" type="submit">Change Password</button>
    
                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                  </div>
    
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script>
  
  </script>
  