{{> menu}}

<!-- Nội dung -->
<div class="bg-light p-4">
    <table class="table text-center">
      <thead>
        <tr class="table-dark">
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>
<!-- Nội dung -->

